body {
  font-family: "Mukta" !important;
  --primary-color: #f06023;
}

.list-style {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}
.my-nav .nav-item a {
  font-weight: bold;
  font-size: 18px;
  color: black;
}

.link-item:hover {
  background-color: #ddd;
}
.top-nav li {
  font-size: 16px;
}

.others {
  background: var(--primary-color);
  padding: 2px 15px;
  color: white;
  font-size: 20px;
}

.header-title {
  font-family: "Mukta", sans-serif;
  font-size: 1.75rem;
  color: #2d2d2d;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: row wrap;
}

.header-title::before {
  background-color: var(--primary-color);
  content: "";
  margin-right: 0.5rem;
  height: 1rem;
  left: 0px;
  width: 0.75rem;
}

.header-title::after {
  content: "";
  flex: 1 1;
  border-bottom: 2px solid #dddd;
  margin-left: 1rem;
  margin-top: 0.125rem;
}

.header-center .header-title {
  font-family: "Mukta";
  text-align: center;
  justify-content: center;
  font-size: 1.125rem;
  padding-bottom: 0.5rem;
  position: relative;
}

.header-center .header-title::before {
  display: none;
}

.header-center .header-title::after {
  content: "";
  position: absolute;
  background-color: #c4c4c4;
  bottom: 0px;
  left: 0px;
  height: 1px;
  width: 100%;
  flex: 1;
  border: none;
  margin: 0px;
}

.medium-title {
  font-size: 2rem;
  color: #2d2d2d;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: row wrap;
}

.small-title {
  font-size: 1.3rem;
  color: #2d2d2d;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  line-height: 1.5em;
  align-items: center;
  justify-content: flex-start;
  flex-flow: row wrap;
}

.header-title::before {
  background-color: #f06023;
  content: "";
  margin-right: 0.5rem;
  height: 1rem;
  left: 0px;
  width: 0.75rem;
}
.post-description {
  line-height: 1.375em;
  font-size: 1.3rem;
  color: #696969;
  font-weight: 500;
}

figcaption {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--primary-color);
  color: white;
  padding: 5px 15px;
  font-size: 1.2rem;
  font-weight: 500;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.post-description-sm {
  line-height: 1.375em;
  font-size: 1.1rem;
  color: #696969;
  font-weight: 500;
}
.small-col img {
  height: 204px !important;
  object-fit: cover;
}

.cover-photo img {
  height: 450px !important;
  object-fit: cover;
}

.bishesh img {
  height: 300px !important;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
}
.black-box {
  box-shadow: 1px 0px 6px 1px rgb(0 0 0 / 36%);
  border-radius: 5px;
}

.rajniti-second-row img {
  height: 200px !important;
  object-fit: cover;
}

.breklink-badge {
  background-color: #cccc;
  color: black;
  padding: 5px 15px;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  font-style: italic;
  align-items: center;
  margin-right: 15px;
}

.samaj-title {
  font-size: 1.2rem;
  color: #2d2d2d;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: row wrap;
  line-height: 1.5em;
}

.source {
  color: #939393;
}

.footer {
  padding: 6rem 0;
  background-color: #192831;
  color: #777;
}
.footer .footer-site-logo {
  font-size: 1.5rem;
  color: #fff;
}
.footer .nav-links li {
  margin-bottom: 10px;
}
.footer .nav-links li a {
  color: #b9b6b6;
  font-weight: 600;
}
.footer .nav-links li a:hover {
  color: #fff;
}
.footer .btn.btn-tertiary {
  background-color: #e42c64;
  color: #fff;
  border-radius: 30px;
  border: none;
  padding: 10px 20px;
}
.footer .social li {
  display: inline-block;
}
.footer .social li a {
  color: gray;
  padding: 7px;
}
.footer .social li a:hover {
  color: #fff;
}
.footer .copyright {
  border-top: 1px solid #404040;
}


.footer svg{
  width: 20px;
  height: 20px;;
  fill: #fff;
}

.footer .social li a {
    margin-right: 10px;
    color: gray;
    padding: 7px;
    border: 1px solid #ddd;
    width: 45px !important;
    display: flex;
    justify-content: center;
    border-radius: 100%;
    height: 45px;
    align-items: center;
    background-color: var(--primary-color);
}

.footer .social li a:hover{
  background-color: #e42c64;
}


.text-break-primary {
  color: #d7ff47 !important;
  font-size: 1.3rem;
}

.bg-break-primary {
  background-color: var(--primary-color);
  color: white;
}

.story-title::before{
    content: "";
    background: var(--primary-color);
    width: 60%;
    height: 4px;
    position: absolute;
    right: -58%;
    z-index: -1;
    top: 45%;
}
.story-title::after{
    content: "";
    background: var(--primary-color);
    width: 60%;
    height: 4px;
    position: absolute;
    left: -58%;
    z-index: 0;
    top: 45%;
    z-index: -1;
}
.big-title{
  font-size: 2.5rem;
  color: #2d2d2d;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  position: relative;
  margin-bottom: 30px;
}

.medium-title:hover,.big-title:hover,.small-title:hover {
  color: var(--primary-color);
}

img{
  border-radius: 4px;
}
.numbering{
  font-size: 80px;
  font-weight: 900;
  font-family: "Mukta";
  color: var(--primary-color);
}